:root {
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --accent: #2196f3;
  --secondary-blue-accent: #188ce8;
  --secondary-black-accent: #000000;
  --secondary-white-accent: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-text-color-alfa: rgba(255, 255, 255, 0.6);
  --header-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --our-team-background-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  background-color: var(--header-background-color);
}

/* =======Стили для сброса======= */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title-not-visible {
  display: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка сайта */
.header-section {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
}
.logo,
.logo-black {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--accent);
}
.logo-black {
  color: var(--secondary-black-accent);
  margin-right: 92px;
}

.nav-link,
.contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link {
  color: var(--primary-text-color);
}
.nav-link.current {
  color: var(--accent);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.contacts:not(:last-child) {
  margin-left: auto;
  margin-right: 50px;
}
.contacts {
  color: var(--secondary-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent);
}

/* =======Баннер герой======= */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-background-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--secondary-white-accent);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  min-width: 200px;
  min-height: 50px;
  padding: 8px 28px;
  border-radius: 4px;
  color: var(--secondary-white-accent);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-blue-accent);
}

/* =======Преимущества======= */
.benefits-section {
}
.benefits-section-list {
  display: flex;
  justify-content: space-between;
}
.benefits-section-item {
  min-width: 270px;
  min-height: 101px;
  margin-right: 30px;
}
.benefits-title:not(:last-child) {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-text {
  width: 270px;
  margin-right: 30px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* =======Чем мы занимаемся======= */
.about-us-section {
  padding-top: 0;
}
.about-us-section-list {
  display: flex;
  margin-left: -30px;
}
.about-us-section-title,
.our-team-section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-us-section-item {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/* =======Наша команда======= */
.our-team-section {
  background-color: var(--our-team-background-color);
}
.our-team-section-list {
  display: flex;
  margin-left: -30px;
}
.member-card {
  background-color: var(--header-background-color);
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.member-card-information {
  padding: 30px 5px;
}
.our-team-member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* =======Футер======= */

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-white {
  color: var(--secondary-white-accent);
}
.footer > .conteiner > .logo {
  padding-bottom: 20px;
  display: block;
}
.address-footer,
.contacts-footer {
  color: var(--secondary-white-accent);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-footer {
  color: var(--secondary-text-color-alfa);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent);
}

/* =======Страница ПОРТФОЛИО======= */
.button-list {
  display: flex;
  justify-content: center;
}
.button-list-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 50px;
}
.portfolio-button {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--our-team-background-color);
  border-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--secondary-white-accent);
  background-color: var(--accent);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.portfolio-information {
  padding: 20px 24px;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
}
.portfolio-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
